{% extends 'base.html.twig' %}

{% block title %}Reseaux index{% endblock %}

{% block body %}
    <h1>Reseaux index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Url</th>
                <th>Logo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reseaux in reseauxes %}
            <tr>
                <td>{{ reseaux.id }}</td>
                <td>{{ reseaux.titre }}</td>
                <td>{{ reseaux.url }}</td>
                <td>{{ reseaux.logo }}</td>
                <td>
                    <a href="{{ path('app_reseaux_show', {'id': reseaux.id}) }}">show</a>
                    <a href="{{ path('app_reseaux_edit', {'id': reseaux.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reseaux_new') }}">Create new</a>
    <div class="text-center mb-5">
		<a class="btn btn-primary mt-5" href="{{ path('app_poste_index') }}">
			Retour</a>
	</div>
{% endblock %}
