{% extends 'base.html.twig' %}

{% block title %}Reseaux{% endblock %}

{% block body %}
    <h1>Reseaux</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reseaux.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ reseaux.titre }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ reseaux.url }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ reseaux.logo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reseaux_index') }}">back to list</a>

    <a href="{{ path('app_reseaux_edit', {'id': reseaux.id}) }}">edit</a>

    {{ include('reseaux/_delete_form.html.twig') }}
{% endblock %}
